body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  /* text-shadow: 1px 0 #232931; */
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Lato', sans-serif;
  font-size: 5remrem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 2% 15%;
  width: 70%;
  margin: auto;
  text-align: center;
}

/* Sections */

.colored-section {
  background-color: #393E46;
  color: #fff;
}

.colored-section p{
  color: #fff;
}

.light-section {
  background-color: #E3FDFD;
}

/* DICE */

.dice {
  text-align: center;
  display: inline-block;

}

/* Button */
.btn-centre {

}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower';

}
